@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i|Montserrat:100,100i,300,300i,800,900,900i|Rock+Salt|IM+Fell+Great+Primer:400i&display=swap');

html {
  font-size: var(--base-font-size);
}

body {
  font-family: 'Arvo', serif;
  color: rgb(20,30,40);
  font-weight: 400;
  line-height: 1.45;
}

p {
  font-family: 'Arvo', serif;
  // margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  transition: color .6s;
  color: var(--title-color);
  margin: 0;
  font-family: 'Montserrat', serif;
  font-weight: 600;
  line-height: 1.15;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 72px;
    font-weight: 900;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {

}

p {

}

small {font-size: 0.889em;}

strong {
  font-weight: 700;
}

.text-center {
    text-align: center;
}
a {
    color: rgb(20,30,40);
    text-decoration: none;
    transition: all 0.25s;
    &:hover {
        color: rgb(40,60,80);
    }
}
.button {

    background: rgb(20,30,40);
    padding: 6px 8px;
    color: white;
    font-weight: 900;
    border: 1px solid rgb(20,30,40);
    border-radius: 5px;

    text-transform: uppercase;

    &:hover {
        color: rgb(200,200,200);
    }

}

blockquote {
  border-left: 4px solid var(--border-color);
  padding-left: calc(var(--space) / 2);
  color: var(--title-color);
}

em {
  font-style: italic;
}

ul {
  font-family: 'IM Fell Great Primer', serif;
  color: var(--link-color);
  list-style-type: disc;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}
ol {
  font-family: 'IM Fell Great Primer', serif;
  color: var(--link-color);
  list-style-type: decimal;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}